{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
    {% include 'todolist/menu.html' %}
    <link rel="stylesheet" href="{% static 'todolist/style.css'%}">
    <link rel="stylesheet" href="{% static 'todolist/paginator.css'%}">
</head>
<body>
    <div class="contents">
        <header>
            <div class="app-name">
                <h1><a href="{% url 'todolist:index' %}">ToDoList on Django </a></h1>
            </div>
        </header>
        {% block contents %}{% endblock contents%}
        <footer>
            <div class="test-right">
                <p>Copyright © 2020, Wengeng Zhang. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>