{% extends "todolist/base.html" %}
{% block title %}DeletedToDo{% endblock %}
{% block contents %}
<article class="index">
    <div class="page-name">
        <h1>Deleted Todo</h1>
        <div class="alldel"><a href="{% url 'todolist:deleteforever' 0 %}">全て削除</a></div>
    </div>
    <div class="todolist">
        <table>
            <tr class="tb-header">
                <th>Title</th>
                <th>記入日</th>
                <th>締切日</th>
                <th>完了</th>
                <th>復元</th>
                <th>削除ボタン</th>
            </tr>
            {% for tdl in deleted_todo %}
            <tr class="tdl">
                <td class="title"><a href="{% url 'todolist:todoedit' tdl.id%}">{{ tdl.title }}</a></td>
                <td class="create_time">{{ tdl.create_time|date:"n/j" }}</td>
                <td class="deadline">{{ tdl.deadline|date:"n/j" }}</td>
                <td class="done">
                    {% if tdl.done == False %}
                    <label>✖️</label>
                    {% else %}
                    <label>○</label>
                    {% endif %}
                </td>
                <td class="btn"><a href="{% url 'todolist:restore' tdl.id%}">復元</a></td>
                <td class="btn"><a href="{% url 'todolist:deleteforever' tdl.id%}">永久削除</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</article>
{% endblock %}