{% extends "todolist/base.html" %}
{% block title %}ToDoList Top{% endblock %}
{% block contents %}
<article class="index">
    <div class="page-name">
        <h1>ToDOList</h1>
    </div>
    <div class="todolist">
        <table>
            <tr class="tb-header">
                <th>Title</th>
                <th><a href="{% url 'todolist:index' page_id=current_page.number order_key='-create_time' %}" {% if order_key == '-create_time' %}class="active"{% endif %}>記入日</a></th>
                <th><a href="{% url 'todolist:index' page_id=current_page.number order_key='deadline' %}" {% if order_key == 'deadline' %}class="active"{% endif %}>締切日</a></th>
                <th><a href="{% url 'todolist:index' page_id=current_page.number order_key='done' %}" {% if order_key == 'done' %}class="active"{% endif %}>完成</a></th>
                {% comment %} <th>記入日</th>
                <th>締切日</th>
                <th>完了</th> {% endcomment %}
                <th>削除ボタン</th>
            </tr>
            {# {% for tdl in todolist %} #}
            {% for tdl in current_page %}
            <tr class="tdl">
                <td class="title"><a href="{% url 'todolist:todoedit' tdl.id%}">{{ tdl.title }}</a></td>
                <td class="create_time">{{ tdl.create_time|date:"n/j" }}</td>
                <td class="deadline">{{ tdl.deadline|date:"n/j" }}</td>
                <td class="done">
                    {% if tdl.done == False %}
                    <label>✖️</label>
                    {% else %}
                    <label>○</label>
                    {% endif %}
                </td>
                <td class="btn"><a href="{% url 'todolist:tododelete' tdl.id%}">削除</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    {# ページネーション #}
    <div class="pagination">
        <ul>
            {% if current_page.has_previous %}
            <li class="prev"><a href="{% url 'todolist:index' %}{{ current_page.previous_page_number }}"><span>«</span></a>
            </li>
            {% endif %}

            {# 7ページ以上の場合#}
            {% if 7 <= paginator.num_pages %}
                {% if current_page.has_previous %}
                    <li><a href="{% url 'todolist:index' page_id=1 order_key=order_key%}"><span>1</span></a></li>
                    {% if current_page.previous_page_number == 2 %}
                        <li><a href="{% url 'todolist:index' page_id=2 order_key=order_key%}"><span>2</span></a></li>
                    {% elif current_page.previous_page_number > 2 %}
                        <li class="three-points"><a href="#"><span>…</span></a></li>
                        <li><a href="{% url 'todolist:index' page_id=current_page.previous_page_number order_key=order_key%}"><span>{{ current_page.previous_page_number }}</span></a>
                    </li>
                    {% endif %}
                {% endif %}

                <li><a href="{% url 'todolist:index' page_id=current_page.number order_key=order_key%}" class="current-page"><span>{{ current_page.number }}</span></a></li>

                {% if current_page.has_next %}
                    <li><a href="{% url 'todolist:index' page_id=current_page.next_page_number order_key=order_key%}"><span>{{ current_page.next_page_number }}</span></a></li>
                    {% if paginator.num_pages == nn_page_num %}
                        <li><a href="{% url 'todolist:index' page_id=nn_page_num order_key=order_key%}"><span>{{ nn_page_num }}</span></a></li>
                    {% elif paginator.num_pages > nn_page_num %}
                        <li class="three-points"><a href="#"><span>…</span></a></li>
                        <li><a href="{% url 'todolist:index' page_id=paginator.num_pages order_key=order_key%}"><span>{{ paginator.num_pages }}</span></a>
                    </li>
                {% endif %}
            {% endif %}

            {# 7ページ未満場合#}
            {% else %}
                {% for i in paginator.page_range %}
                    {% if i == current_page.number %}
                        <li><a href="{% url 'todolist:index' page_id=i order_key=order_key%}" class="current-page"><span>{{ i }}</span></a></li>
                    {% else %}
                        <li><a href="{% url 'todolist:index' page_id=i order_key=order_key%}"><span>{{ i }}</span></a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if current_page.has_next %}
                <li class="next"><a href="{% url 'todolist:index' page_id=current_page.next_page_number order_key=order_key%}"><span>»</span></a></li>
            {% endif %}
        </ul>
    </div>
</article>
{% endblock contents %}